* {
    background: unset;
    color: unset;
}

button {
    all: unset;
}

.time {
    font-size: 90px;
    font-family: 'Red Hat Display';
    color: white;
    font-weight: 800;
    background-color: transparent;
    border: none;
}

.date {
    font-size: 18px;
    padding: 0 3px;
}

.sidebar {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 6px 7px 6px 2px;
}

.container {
    background-color: rgba(19, 22, 29, 0.621);
    border-radius: 5px;
    box-shadow: 0 0 3px -1px black;
}

.side {
    padding: 60px 40px;
}

.info {
    margin: 50px -150px 0 0;
    font-family: 'Inconsolata';
    font-size: 18px;
    font-weight: 800;
}

.gauge-label {
    color: white;
}

.battery label, .ram label, .disk label {
    color: white;
    font-size: 14px;
    font-weight: 800;
}

.labels {
    color: rgb(255, 255, 255);
    font-family: 'Red Hat Display';
    font-weight: 800;
    margin: 0 -200px 90px -50px;
    font-size: 16px;
}

.launcher button {
    background-color: rgba(45, 46, 50, 0.196);
    border-radius: 5px;
    margin: 5px 6px;
}

button {
    padding: 5px;
    border: none;
    background-color: transparent;
}

button image {
    background-color: transparent;
}

.launcher {
    margin-bottom: 130px;
}

.cover {
    margin-top: -30px;
    padding: 0;
    background-size: contain;
}

.title, .album, .artist {
    font-family: 'Red Hat Display';
}

.title {
    font-weight: 800;
    font-size: 19px;
    margin-bottom: 5px;
}

.artist, .album {
    font-size: 18px;
    margin-bottom: 3px;
}

.song-info {
    margin-top: 20px;
}

progressbar > trough {
    min-width: 200px;
    min-height: 5px;
    background-color: rgba(106, 106, 106, 0.196);
    padding: 0;
    border: none;
}

progressbar > trough > progress {
    background-color: white;
    border: none;
    min-height: 5px;
    margin: 0;
}

.actions {
    margin-top: -25px;
    color: white;
}

.dock {
    background-color: rgba(165, 178, 201, 0.659);
    color: #2e2d2d;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
}

.pbutton {
    padding: 1px 8px 0 8px;
    margin-left: 3px;
}

.percent {
    margin-top: 3px;
}

.vol {
    margin-left: -7px;
}

.volbtn {
    padding: 1px 6px 0 6px;
}

.wifibtn {
    padding: 0 7px;
}

scale > contents > trough {
    border: none;
    background-color: rgba(74, 82, 96, 0.396);
    border-radius: 7px;
}

scale > contents > trough > slider {
    all: unset;
    padding: 6px;
    border-radius: 50%;
    border: none;
    background-color: #2e2d2d;
}

scale > contents > trough > highlight  {
    margin: 3px 0;
    background-color: #2e2d2d;
    border: none;
}

.hovered {
    transition: background-color, 0.15s;
    background-color: rgba(74, 82, 96, 0.388);
}

.pwrbutton {
    padding: 3px 12px 0 12px;
}

.song {
    margin-right: 10px;
}

.launchbtn {
    padding: 0 10px;
}

.battperc {
    margin: 0 -3px 0 8px;
}

.right-side {
    padding-right: 3px;
}

.right {
    padding: 0 8px 0 2px;
}

.statwindow {
    padding-right: 13px;
    background-color: rgba(35, 38, 46, 0.932);
    font-family: 'Red Hat Display';
}

.statwindow .bigtime {
    font-size: 54px;
    margin-right: -8px;
}

.statwindow .date {
    font-weight: 800;
    margin-right: -10px;
}

.clock {
    margin: 40px 25px 30px 0;
}

.progress {
    margin: 25px -25px -10px 25px;
}

.bar {
    padding-bottom: 13px;
    margin-right: 17px;
}

.leftstat {
    margin: 5px 15px 0 0;
}

progressbar > trough > progress {
    min-height: 7px;
}

.firstbar {
    margin-right: 18px;
}

.spot {
    margin: 53px 20px -20px 35px;
}

.songprog {
    margin: 9px 19px 0 45px;
}

.statshead {
    margin: 20px 6px -50px -100px;
}

.header {
    font-family: 'Red Hat Display';
    font-weight: 800;
    text-decoration: underline;
    margin-top: -3px;
    margin-left: 130px;
}

.calendar {
    margin: 60px 0 0 30px;
}

.cal {
    margin-right: 35px;
    margin-top: -7px;
}

calendar {
    border: none;
    font-weight: 800;
}

.statlab {
    margin: 3px 0 16px 0;
}

.notif {
    margin: 0 0 10px 0;
    border: 1px solid white;
}

.notif-interior {
    padding: 12px;
}

.notif-title {
    font-family: monospace;
    font-size: 16px;
    font-size: 16px;
    font-weight: 800;
}

.notif-sub {
    font-family: monospace;
}

.notif-icon {
    margin-right: 12px;
}

.no-notif {
    font-family: monospace;
    font-size: 18px;
    font-weight: 800;
}

.not {
    transition: background-color 0.25s;
}

.not.hovered {
    background-color: rgba(80, 83, 92, 0.932);
}

.nohover.hovered {
    background-color: rgba(35, 38, 46, 0.932);
}

.notifblock-label {
    margin: 0 0 5px 0;
}

.disks {
    margin-top: 20px;
}