* {
    background: unset;
    color: unset;
}

button {
    all: unset;
    padding: 5px;
    border: none;
    background-color: transparent;
}

button image {
    background-color: transparent;
}

progressbar > trough {
    min-width: 200px;
    min-height: 5px;
    background-color: rgba(106, 106, 106, 0.196);
    padding: 0;
    border: none;
}

progressbar > trough > progress {
    background-color: white;
    border: none;
    min-height: 5px;
    margin: 0;
}

.dock {
    background-color: rgba(218, 218, 218, 0.396);
    color: #2e2d2d;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
}

scale > contents > trough {
    border: none;
    background-color: rgba(255, 255, 255, 0.396);
    border-radius: 7px;
}

scale > contents > trough > slider {
    all: unset;
    padding: 6px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
}

scale > contents > trough > highlight  {
    margin: 3px 0;
    background-color: #ffffff;
    border: none;
}

.hovered {
    transition: background-color, 0.15s;
    background-color: rgba(52, 52, 52, 0.257);
}

.pwrbutton {
    padding: 0 12px;
}

.song {
    margin-right: 10px;
}

.launchbtn {
    padding: 0 9px;
}

.battperc {
    margin: 0 -3px 0 8px;
}

.right {
    padding: 0 8px 0 2px;
}

.statcontainer {
    padding: 50px 70px;
    color: #efefef;
}

.statwindow {
    padding-right: 13px;
    transition: background-color 0.3s;
    font-family: 'Red Hat Display';
    border-radius: 4px;
}

.statwindow .bigtime {
    font-size: 54px;
    margin-right: -8px;
}

.statwindow .date {
    font-weight: 800;
    margin-right: -10px;
}

.clock {
    margin: 40px 25px 30px 0;
}

.progress {
    margin: 8px -10px 8px 0;
}

.bar {
    padding-bottom: 16px;
    margin-right: 27px;
}

.leftstat {
    margin: 5px 20px 0 0;
}

progressbar > trough {
    min-width: 270px;
    min-height: 11px;
}

progressbar > trough > progress {
    min-height: 15px;
}

.firstbar {
    margin-right: 29px;
}

.spot {
    margin: 53px 5px -10px 15px;
}

.leftside {
    margin-top: 100px;
}

.songprog {
    margin: -10px 5px 0 45px;
}

.num {
    margin-top: 9px;
    padding-right: 1px;
}

.statshead {
    margin: 20px 6px -50px -100px;
}

.header {
    font-family: 'Red Hat Display';
    font-weight: 800;
    text-decoration: underline;
    margin-top: -3px;
    margin-left: 130px;
}

.calendar {
    margin: 60px 0 0 30px;
}

.cal {
    margin-right: 35px;
    margin-top: -7px;
}

calendar {
    border: none;
    font-weight: 800;
}

.statlab {
    margin: 3px 0 16px 0;
}

.notif {
    margin: 0 0 10px 0;
    border: 1px solid white;
}

.notif-interior {
    padding: 12px;
}

.notif-title {
    font-family: monospace;
    font-size: 16px;
    font-size: 16px;
    font-weight: 800;
}

.notif-sub {
    font-family: monospace;
}

.notif-icon {
    margin-right: 12px;
}

.no-notif {
    font-family: monospace;
    font-size: 18px;
    font-weight: 800;
}

.not {
    transition: background-color 0.25s;
}

.not.hovered {
    background-color: rgba(80, 83, 92, 0.932);
}

.nohover.hovered {
    background-color: rgba(35, 38, 46, 0.932);
}

.notifblock-label {
    margin: 0 0 5px 0;
}

.disks {
    margin-top: 20px;
}

.stat {
    margin: 20px;
    padding: 20px;
    border: 2px solid rgba(44, 44, 44, 0.841);
}

.statbigtime {
    font-size: 75px;
    font-family: 'Vast Shadow';
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: -20px;
}

.statdate {
    font-weight: 800;
    font-size: 22px;
    margin-left: 33px;
    margin-top: 15px;
    font-family: 'Red Hat Display';
}

.big {
    border-radius: 50%;
    padding: 10px;
    margin: 0 3px;
}

.dockbutton.wifi .ssid {
    color: white;
    padding: 0 10px;
    background-color: #516C7B;
}

.dockbutton .icon {
    padding: 0 9px;
}

.dockbutton {
    margin: 5px 3px;
    color: white;
}

.dockbutton.docktime {
    background-color: #EECC95;
    margin-right: 7px;
}

.dockbutton.docktime .whattime {
    padding: 1px 9px 0 9px;
}

.dockbutton.battery {
    background-color: rgb(249, 224, 77);
}

.dockbutton.battery .batteryperc {
    padding: 2px 9px 0 9px;
    background-color: rgb(197, 168, 7);
}

.dockbutton.bell .launchbtn {
    padding: 0 8px;
}

.dockbutton.volume, .dockbutton.bell, .dockbutton.music, .dockbutton.music .musicleft .action {
    background-color: rgb(149, 152, 184);
}

.dockbutton.volume .slider {
    padding-left: 4px;
    background-color: rgb(84, 87, 120);
}

.dockbutton.music .musicleft {
    background-color: rgb(84, 87, 120);
}

.dockbutton.music .musicleft .action {
    border-right: 2px solid #2e2d2d;
}

.dockbutton.music .musicleft .action.last {
    border-right: none;
}

.dockbutton.wifi, .dockbutton.launchbtn {
    background-color: rgb(149, 174, 178);
}

.dockbutton.wifi .ssid, .dockbutton.launchbtn .lbtnright {
    background-color: rgb(77, 103, 106);

}

.dockbutton.launchbtn {
    padding-right: 0;
}

.dockbutton.launchbtn.hovered {
    background-color: rgb(120, 147, 151);
}

.dockbutton.launchbtn .lbtnright {
    padding: 0 8px;
}

.pbut, .dockbutton.docktime {
    background-color: rgb(208, 139, 143);
}

.dockbutton.pbutton, .dockbutton.docktime .whattime {
    background-color: rgb(175, 82, 86);
}

.pbut {
    padding: 0 10px;
}

.pbut.hovered {
    background-color: rgb(183, 107, 110);
}

.dockbutton.pbutton {
    margin-left: 7px;
    padding: 0;
}

.dockbutton.pbutton.hovered {
    background-color: #808196;
}

.timeofday {
    color: #2e2d2d;
    font-family: monospace;
    font-size: 19px;
    padding: 0 1px 0 0;
    font-weight: 800;
}

.weather {
    margin-left: 20px;
}