#img {
    margin-right: 15px;
}

#input {
    all: unset;
    background-color: transparent;
    padding-bottom: 12px;
    box-shadow: 0 0 3px 0 #2d2d2d;
    border-bottom: none;
    color: #efefef;
    caret-color: #efefef;
    font-size: 28px;
    font-family: 'Inconsolata', monospace;
    font-weight: 800;
}

#input :first-child {
    margin-right: -15px;
    color: rgba(0,0,0,0);
}

#window {
    background-color: rgba(0,0,0,0);
    border: none;
}

#inner-box {
    background-color: rgba(16, 16, 16, 0.94);
}

#entry {
    padding: 14px;
}

* {
    font-family: 'Red Hat Display ExtraBold';
    font-size: 17px;
    border: none;
}

#entry:not(:selected) {
    color: #efefef;
}

#entry:selected {
    background-color: rgba(0, 81, 255, 0.612);
    color: rgb(205, 205, 205);
}